html, body{
	height: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin:0;


}
.container{
	margin: auto;
	background-color: #F2F2F2;
	min-height: 100%;
   	max-width: 800px;
    min-width: 300px;
}
.nav{
	background-color: #333;
}
    	.navbar-brand{
			color: #f1f1f1;
			font-size: 30px;
			padding-left: 50px;
			height: 70px;
			line-height: 1.1;
			padding-top: 30px;
			text-align: left;
		}
		.navbar-brand a{
			text-decoration: none;
			color: #f4f4f4;
		}
		.navbar-brand a:hover{
			text-decoration: none;
			color: #fff;
		}
		.navbar-container{
			width: 100%;
			background-color: #333;
			display: inline-block;
			vertical-align: top;
			padding-top: 10px;
		}
		.navbar{
			width: 300px;
			background-color: #333;
			margin: auto;
			list-style: none;
			text-align: center;
			padding-left: 0;
		}
		.navbar .active, .navbar a:hover{
			color: #fff;
			text-decoration: none;
			background-color: #222;
			width: 100px;
		}
		.navbar li{
			float: left;
		}
		.navbar li a{
			color: #999;
			display: block;
			padding-top: 16px;
			padding-bottom:16px; 
			text-decoration: none;
			font-size: 14px;
			width: 100px;
		}
		.gallery{
			min-height: 100%;
			margin:auto;
			text-align: center;
			
			margin-top: 50px;
		}
		.gallery img{
			width: 25%;
			margin: 5px;
		}
		a img:hover{
			-webkit-filter: brightness(75%);
		}
		.empty {
        height: 20px;
      	}
		.footer {
      	margin: 0 auto;
        max-width: 800px;
        min-width: 300px;
        background: #333;
        height: 20px;
        margin-top: -20px;
		}
		.popup {
	position: absolute;
	width:100%;
	top:0;
	left:0;
	text-align:center;
	height: 100%;
	overflow-y:hidden;
}
.popup_bg {
	background:rgba(0,0,0,0.7);
	position:absolute;
	z-index:1;
	height: 100%;
	width:100%;
	text-align: center;

}
.popup_img {
	position: relative;
	margin:0 auto;
	z-index:2;
	max-height:80%;
	max-width:80%;
	top:16%;
}
#modal_close {
 	color: #888;
	font-size: 40px;
	float: right;
	z-index:2;
	max-width: 20px;
	height: 10px;
	margin-top: 3%;
	cursor: pointer;
	display: block;
	text-decoration: none;
	margin-right: 40px;
}
#modal_close:hover{
	color: #fff;
}